.main {
  width: 460px;
  height: 610px;

  background-color: black;

  border-radius: 20px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: var(--font);
}

.mainMessage {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;

  font-size: 1.4rem;
}

.subMessage {
  color: grey;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 40px;

  font-size: 0.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nameInput {
  display: flex;
  gap: 20px;
}

.nameInput > input {
  height: 30px;

  border-radius: 5px;
  padding: 5px;

  color: white;

  background-color: #15151e;

  letter-spacing: 0.5px;
}

.email,
.password,
.passwordConfirm,
.systemID {
  height: 30px;
  width: 362px;

  border-radius: 5px;
  padding: 5px;

  color: white;

  background-color: #15151e;

  letter-spacing: 0.5px;
}

.submit {
  height: 50px;
  width: 364px;

  margin-top: 25px;

  background-color: #1f4690;

  border-radius: 10px;

  cursor: pointer;

  color: white;
  margin-top: 10px;

  width: 376px;
}

.signIn {
  color: white;

  cursor: pointer;

  text-align: center;

  margin-top: 5px;

  position: relative;
}

.signIn > a {
  color: #1f4690;
}

.submit {
  height: 50px;
  width: 376px;

  margin-top: 10px;

  background-color: #1f4690;
  border-radius: 10px;
  cursor: pointer;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.submit:disabled {
  cursor: pointer;
  opacity: 0.8;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 2px solid #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top-color: black;
  border-left-color: black;
  animation: spin 1s infinite ease-in;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
