.main {
  width: 460px;
  height: 350px;

  background-color: black;

  border-radius: 20px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: var(--font);
}

.mainMessage {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;

  font-size: 1.4rem;
}

.subMessage {
  color: grey;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 40px;

  font-size: 0.8rem;
}

.pinInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pinInput > input[type="text"] {
  height: 40px;
  width: 40px;

  border-radius: 5px;

  text-align: center;

  font-family: (var(--font));
  font-size: 1rem;
}

.resendEmail {
  color: white;

  cursor: pointer;

  text-align: center;

  margin-top: 25px;
}

.resendEmail > a {
  color: #1f4690;
}

/* HIDE NUMBER INPUT ARROWS */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

.submit {
  height: 50px;
  width: 376px;

  margin-top: 40px;

  background-color: #1f4690;
  border-radius: 10px;
  cursor: pointer;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.submit:disabled {
  cursor: pointer;
  opacity: 0.8;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 2px solid #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top-color: black;
  border-left-color: black;
  animation: spin 1s infinite ease-in;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
